<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h4>New tenant?</h4>
      <%= simple_form_for(Renter.new, :url => flat_contract_add_renter_path(@flat.id, @contract.id)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :private, label: "type", required: true, collection: [:Private, :Company], selected: :Private %>
        <%= f.input :gender, required: true, collection: [:Male, :Female], selected: :Male %>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :phone_number, required: true %>
        <%= f.input :birthday, label: "Date of birth", as: :date, start_year: Date.today.year - 12,
        end_year: Date.today.year - 100,
        order: [:day, :month, :year] %>
        <br>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Create new tenant", :class => "btn btn-default" %>
      </div>
      <% end %>

    </div>
    <div class="col-xs-12 col-md-6">
      <h4>Old tenant?</h4>
      <div class="btn-group">
        <table class='table'>
        <thead>
          <tr>
            <th>
              Tenant name
            </th>
            <th>
              Email
            </th>
            <th>

            </th>
          </tr>
        </thead>

        <tbody>
          <% @flats.each do |flat| %>
          <% flat.contracts.each do |contract| %>
          <tr>
            <td>
              <%= contract.renter.first_name %> <%= contract.renter.last_name %>
            </td>
            <td>
              <%= contract.renter.email %>
            </td>
            <td>
              <%= link_to "Select", flat_contract_renter_select_renter_path(@flat, @contract.id, contract.renter.id), class: 'btn btn-default' %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
