<%= simple_form_for([@flat, @contract]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :rent_start %>
    <%= f.input :rent_end %>
    <%= f.association :renter %>
    <%= f.input :rent_amount %>
    <%= f.input :warranty_amount %>
    <%= f.input :pay_day %>
    <%= f.input :active %>
    <%= f.input :days_to_reminder %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
