<%= simple_form_for [@flat, @contract] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :rent_start, as: :date, start_year: Date.today.year - 1,
    end_year: Date.today.year + 12, required: true %>
    <%= f.input :rent_end, as: :date, start_year: Date.today.year - 1,
    end_year: Date.today.year + 12, required: true %>
    <%= f.input :rent_amount, required: true %>
    <%= f.input :provision, required: true %>
    <%= f.input :warranty_amount, required: true %>
    <%= f.input :pay_day, placeholder: "which day of each month day the payment need to be processed", required: true, collection: 1..31, selected: 15 %>
    <% if @contract.renter_id.nil? %>
    <%= f.hidden_field :active, value: "Unassigned" %>
    <% else %>
    <%= f.input :active, collection: [:Active, :Inactive, :Pending, :Expired] %>
    <% end %>
    <%= f.hidden_field :days_to_reminder, value: 7 %>
  </div>



  <div class="form-actions">
  <%= link_to 'Back', flat_path(@flat), class: "btn btn-default" %>
    <%= f.button :submit, :class => "btn btn-default" %>
  </div>
<% end %>


<!-- collection: [:Active, :Inactive, :Pending, :Expired] -->
