<div class="container">
  <p id="notice"><%= notice %></p>


    <ul class="list-inline" >
      <li><h1>Listing Contracts</h1></li>

      <li><%= link_to raw("<li class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"> edit </span>"),  class: 'btn btn-default btn-info' %>
      </li>
    </ul>



  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Rent start</th>
        <th>Rent end</th>
        <th>Renter</th>
        <th>Rent amount</th>
        <th>Warranty amount</th>
        <th>Pay day</th>
        <th>Active</th>
        <th>Days to reminder</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <td><%= contract.rent_start %></td>
          <td><%= contract.rent_end %></td>
          <td><%= contract.renter.first_name + ' ' + contract.renter.last_name %></td>
          <td><%= contract.rent_amount %></td>
          <td><%= contract.warranty_amount %></td>
          <td><%= contract.pay_day %></td>
          <td><%= contract.active %></td>
          <td><%= contract.days_to_reminder %></td>

          <td><%= link_to raw("<span class=\"glyphicon glyphicon-edit\" aria-hidden=\"true\"> edit </span>"), edit_contract_path(contract), class: 'btn btn-default' %>
          </td>
          <td>
           <%= link_to(edit_contract_path(contract),
           method: :put,
           class: 'btn btn-danger') do %>
              <%= content_tag('span', nil, class: 'glyphicon glyphicon-remove') %> delete
           <% end %>
          </td>


         </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Contract', new_contract_path %>
</div>
