

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h4>New tenant?</h4>
      <%= simple_form_for(Renter.new, :url => { :action => "create" })  do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :private, label: "type", required: true, collection: [:Private, :Company] %>
        <%= f.input :gender, required: true, collection: [:Male, :Female] %>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :phone_number, required: true %>
        <%= f.input :birthday, label: "Date of birth", as: :date, start_year: Date.today.year - 12,
        end_year: Date.today.year - 100,
        order: [:day, :month, :year] %>
        <br>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", :class => "btn btn-default" %>
      </div>
      <% end %>

    </div>
    <div class="col-xs-12 col-md-6">
      <h4>Old tenant?</h4>
      <div class="btn-group">
        <% @flats.each do |flat| %>
        <% flat.contracts.each do |contract| %>
        <p><%= contract.renter.first_name %> <%= contract.renter.last_name %> <%= contract.renter.email %></p>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
