<div class='container'>

  <h2 class="text-center">Rental contract</h2>

  <p>
    <strong>Rent start:</strong>
    <%= @contract.rent_start %>
  </p>

  <p>
    <strong>Rent end:</strong>
    <%= @contract.rent_end %>
  </p>

  <p>
    <strong>Renter:</strong>
    <%= @contract.renter.first_name %> <%= @contract.renter.last_name %>
  </p>

  <p>
    <strong>Rent amount:</strong>
    <%= @contract.rent_amount %>
  </p>

  <p>
    <strong>Warranty amount:</strong>
    <%= @contract.warranty_amount %>
  </p>

  <p>
    <strong>Pay day:</strong>
    <%= @contract.pay_day %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @contract.active %>
  </p>

  <p>
    <strong>Days to reminder:</strong>
    <%= @contract.days_to_reminder %>
  </p>

  <%= link_to 'Edit', edit_flat_contract_path, class: 'btn btn-default' %>
  <%= link_to 'Back', flat_path, class: 'btn btn-default' %>
</div>


