<div class='container'>
  <h2 class="text-center">Rental contract</h2>
  <div class="row">
    <div class="col-xs-6">

      <h4>Renter information</h4>

      <p>
        <strong>Renter:</strong>
        <%= @contract.renter.first_name %> <%= @contract.renter.last_name %>
      </p>

      <p>
        <strong>Renter email:</strong>
        <%= @contract.renter.email %>
      </p>

      <p>
        <strong>Renter gender:</strong>
        <%= @contract.renter.gender %>
      </p>

      <p>
        <strong>Renter birthday:</strong>
        <%= @contract.renter.birthday %>
      </p>

      <br>

      <h4>Contract information</h4>

      <p>
        <strong>Rent start:</strong>
        <%= @contract.rent_start %>
      </p>

      <p>
        <strong>Rent end:</strong>
        <%= @contract.rent_end %>
      </p>



      <p>
        <strong>Rent amount:</strong>
        <%= @contract.rent_amount %>
      </p>

      <p>
        <strong>Provision:</strong>
        <%= @contract.provision %>
      </p>

      <p>
        <strong>Warranty amount:</strong>
        <%= @contract.warranty_amount %>
      </p>

      <p>
        <strong>Pay day:</strong>
        <%= @contract.pay_day %>
      </p>

      <p>
        <strong>Active:</strong>
        <%= @contract.active %>
      </p>

      <p>
        <strong>Days to reminder:</strong>
        <%= @contract.days_to_reminder %>
      </p>



      <%= link_to 'Edit', edit_flat_contract_path, class: 'btn btn-default' %>
      <%= link_to 'Back', flat_path(@contract.flat_id), class: 'btn btn-default' %>
    </div>
    <div class="col-xs-6">

    <%= render 'contract' %>
    <%= link_to 'print', flat_contract_path(@contract.flat.id, @contract.id, format: 'pdf', target: "_blank") %>

    </div>
  </div>
</div>


