<div class = "finance_container">
  <br>

  <div class='finance-rows'>
    <h3>Tenant information</h3>
    <div class = "finance_row">
      <div class="finance-key">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class = "finance_value">
        <%= @contract.renter.first_name %> <%= @contract.renter.last_name %>
      </div>
    </div>

    <div class = "finance_row">
      <div class="finance-key">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class = "finance_value">
        <%= @contract.renter.email %>
      </div>
    </div>

    <div class = "finance_row">
      <div class="finance-key">
        <i class="fa fa-transgender" aria-hidden="true"></i>
      </div>
      <div class = "finance_value">
        <%= @contract.renter.gender %>
      </div>
    </div>

    <div class = "finance_row">
      <div class="finance-key">
        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
      </div>
      <div class = "finance_value">
        <%= @contract.renter.birthday %>
      </div>
    </div>


<br>


    <h3>Contract information</h3>

    <div class = "finance_row" style ="border-bottom: 0px; padding-bottom: 0px">
      <div class="finance-key">
        Rent start
      </div>
      <div class = "finance_value">
        Rent end
      </div>
    </div>

    <div class = "finance_row">
      <div class="finance-key">
        <%= @contract.rent_start %>
      </div>
      <div class = "finance_value">
        <%= @contract.rent_end %>
      </div>
    </div>

    <div class = "finance_row">
      <div class="finance-key">
        Rent amount
      </div>
      <div class = "finance_value">
        <%= @contract.rent_amount.round %>
      </div>
    </div>

    <div class = "finance_row">
      <div class="finance-key">
        Provision
      </div>
      <div class = "finance_value">
        <%= @contract.provision.round %>
      </div>
    </div>

    <div class = "finance_row">
      <div class="finance-key">
        Warranty amount
      </div>
      <div class = "finance_value">
        <%= @contract.warranty_amount.round %>
      </div>
    </div>

    <div class = "finance_row">
      <div class="finance-key">
        Pay day
      </div>
      <div class = "finance_value">
        <%= @contract.pay_day %>
      </div>
    </div>

    <div class = "finance_row">
      <div class="finance-key">
        Status
      </div>
      <div class = "finance_value">
        <%= @contract.active %>
      </div>
    </div>

<br>
    <%= link_to 'Back', flat_path(@contract.flat_id), class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_flat_contract_path, class: 'btn btn-default' %>
    <%= link_to flat_contract_path(@contract.flat.id, @contract.id, format: 'pdf', target: "_blank"), class: "btn btn-default" do %>
    Render contract as PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    <% end %>

<br>
<br>
<br>
<br>
  </div>
</div>


