<%= simple_form_for [ @flat, @task ] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :status %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :due_date %>
    <%= f.association :contract, as: :hidden %>
    <%= f.input :owner %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
