<%= simple_form_for [ @flat, @task ] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :due_date %>
    <%= f.association :contract, as: :hidden, :input_html => { value: @contract.id } %>
    <%= f.input :owner, collection: ["owner", "renter"], selected: "owner", label: "Person responsible" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
