<div class="container">

 <%= link_to 'Add a new flat', new_flat_path, :class => "submit-btn" %>

</div>

<br>


<% @flats.each do |flat| %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="card">
          <div class="col-md-3">

            <address style="padding: 20px 10px">
             <strong><%= flat.flat_name %></strong><br /> <p><%= flat.address %></p><br /> <%= flat.postal_code %> <%= flat.city %><br />
           </address>


         </div>
         <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <%= link_to flat_path(flat.id) do %>
              <div class="square btn">
                <p>Accomodation</p>
                <% if flat.contracts.select { |contract| contract.active == "Active" }.length < 1 && flat.contracts.unscoped.select { |contract| contract.active == "Unassigned" && flat.id == contract.flat_id }.length > 0 %>
                <p><i class="fa fa-home fa-3x signal-alert"></i></p>
                <% elsif flat.contracts.select { |contract| contract.active == "Active" }.length < 1 %>
                <p><i class="fa fa-home fa-3x signal-action"></i></p>
                <% elsif flat.contracts.unscoped.select { |contract| contract.active == "Unassigned" && flat.id == contract.flat_id }.length > 0 %>
                <p><i class="fa fa-home fa-3x signal-alert"></i></p>
                <% else %>
                <p><i class="fa fa-home fa-3x signal-nothing"></i></p>
                <% end %>
                <p><%= flat.flat_name %></p>
              </div>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to contract_costs_path(flat.id) do %>
              <div class="square btn">
                <p>Financials</p>
                <p><i class="fa fa-eur fa-3x signal-nothing"></i></p>
                <p><%= flat.contracts.last.nil? ? "" : flat.contracts.last.rent_amount.round %>
                </p>
              </div>
              <% end %>
            </div>


            <!-- DOCUMENTS !-->
            <div class="col-md-3">
              <div class="square btn">
                <% @contract = Contract.where(flat_id: flat, active: "Active")[0] %>
                <% if @contract.nil? %>
                  <%= link_to mydashboard_path(flat.id) do %>
                    <div class="square btn">
                      <p class="signal-noaccess">Docs</p>
                      <p><i class="fa fa-file-text fa-3x signal-noaccess"></i></p>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to flat_documents_path(flat.id) do %>
                    <div class="square btn">
                      <p>Docs</p>
                      <p><i class="fa fa-file-text fa-3x signal-nothing"></i></p>
                    </div>
                  <% end %>
                <% end %>
            </div>
          </div>



          <!-- TASKS !-->
          <div class="col-md-3">
           <%= link_to flat_tasks_path(flat.id) do %>
           <div class="square btn">

            <% @contract = Contract.where(flat_id: flat, active: "Active")[0] %>
            <% task_count = Task.where(contract_id: @contract).count %>
            <% task_count_late = Task.where("due_date < ?", Time.now).where(contract_id: @contract).count %>
            <% task_count_late_0_to_7 = Task.where("due_date < ?", Time.now).where("due_date > ?", Time.now + ( 86400 * 7 )).where( contract_id: @contract ).count %>
            <% task_count_late_8_to_15 = Task.where("due_date < ?", Time.now + (86400 * 7)).where("due_date > ?", Time.now + (86400 * 15)).where(contract_id: @contract).count %>
            <% task_count_late_16_and_more = Task.where("due_date < ?", Time.now + (86400 * 16)).where(contract_id: @contract).count %>



            <% if @contract.nil? %>
              <div class="square btn">
                <p class="signal-noaccess">Tasks</p>
                <p><i class="fa fa-tasks fa-3x signal-noaccess"></i></p>
              </div>
            <% else %>
              <% if task_count_late_16_and_more > 0 %>
                <p>Tasks</p>
                <p><i class="fa fa-tasks fa-3x signal-action"></i></p>
                <p>  <strong><span style="color:red;"> <%= task_count_late %> late  </span><strong>  / <%= task_count %> </p>
              <% elsif task_count_late_8_to_15 > 0 %>
                <p><i class="fa fa-tasks fa-3x signal-alert"></i></p>
                <p>  <strong><span style="color:red;"> <%= task_count_late %> late  </span><strong>  / <%= task_count %> </p>
              <% elsif task_count_late_0_to_7 > 0 %>
                <p><i class="fa fa-tasks fa-3x signal-nothing"></i></p>
                <p>  <strong><span> <%= task_count_late %> late  </span><strong>  / <%= task_count %> </p>
              <% else %>
                <p><i class="fa fa-tasks fa-3x signal-nothing"></i></p>
                <p> <%= task_count %> </p>
              <% end %>
            <% end %>

          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<% end %>

