<div class="container">

 <%= link_to 'Add a new flat', new_flat_path, class: 'btn btn-primary' %>

</div>

<br>


<% @flats.each do |flat| %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="card">
          <div class="col-md-3">

            <address style="padding: 20px 10px">
             <strong><%= flat.flat_name %></strong><br /> <p><%= flat.address %></p><br /> <%= flat.postal_code %> <%= flat.city %><br />
           </address>


           </div>
           <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
              <%= link_to flat_path(flat.id) do %>
                <div class="square btn">
                  <p>Accomodation</p>
                  <p><i class="fa fa-home fa-3x signal-nothing"></i></p>
                  <p><%= flat.flat_name %></p>
                </div>
                <% end %>
              </div>
              <div class="col-md-3">
                <div class="square btn">
                  <p>Financials</p>
                  <p><i class="fa fa-eur fa-3x signal-nothing"></i></p>
                  <p><%= flat.contracts.last.nil? ? "" : flat.contracts.last.rent_amount.round %>
                  </p>
                </div>
              </div>
              <div class="col-md-3">
               <%= link_to flat_documents_path(flat.id) do %>
                <div class="square btn">
                  <p>Docs</p>
                  <p><i class="fa fa-user fa-3x signal-nothing"></i></p>
                  <p><%= flat.contracts.last.nil? ? "" : flat.contracts.last.renter.first_name + " " + flat.contracts.last.renter.last_name %></p>
                </div>
                <% end %>
              </div>
              <div class="col-md-3">
               <%= link_to flat_tasks_path(flat.id) do %>
                <div class="square btn">
                  <p>Tasks</p>
                  <p><i class="fa fa-tasks fa-3x signal-nothing"></i></p>
                  <% @contract = Contract.where(flat_id: flat, active: "Yes") %>
                  <% task_count = Task.where(contract_id: @contract).count %>
                  <% task_count_late = Task.where("due_date > ?", Time.now).where(contract_id: @contract).count %>
                  <p> <%= task_count %> (<%= task_count_late %> late)</p>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>

