<p id="notice"><%= notice %></p>

<div class="container">

   <%= link_to 'Add a new flat', new_flat_path, class: 'btn btn-primary' %>

</div>

<br>


<% @flats.each do |flat| %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="card">
          <div class="col-md-3">

            <address style="padding: 20px 10px">
             <strong><%= flat.flat_name %></strong><br /> <p><%= flat.address %></p><br /> <%= flat.postal_code %> <%= flat.city %><br />
           </address>

           <%= link_to raw("<span class=\"glyphicon glyphicon-edit\" aria-hidden=\"true\"></span>"), edit_flat_path(flat), class: 'btn btn-default' %>

           <%= link_to(flat_destroy_path(flat),

             method: :delete,
             data: { confirm: 'Are you sure?' },
             class: 'btn btn-danger') do %>
             <%= content_tag('span', nil, class: 'glyphicon glyphicon-remove') %>
             <% end %>


           </div>
           <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <% link_to "", '#' %>
                <div class="square btn">

                  <p>Accomodation</p>
                  <p><i class="fa fa-home fa-3x signal-nothing"></i></p>
                  <p><%= flat.flat_name %></p>
                </div>

              </div>
              <div class="col-md-3">
                <div class="square btn">
                  <p>Financials</p>
                  <p><i class="fa fa-eur fa-3x signal-nothing"></i></p>
                  <p><%= flat.contracts.last.rent_amount.round %></p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="square btn">
                  <p>Tenant</p>
                  <p><i class="fa fa-user fa-3x signal-nothing"></i></p>
                  <p><%= flat.contracts.last.renter.first_name %>
                    <%= flat.contracts.last.renter.last_name %></p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="square btn">
                    <p>Tasks</p>
                    <p><i class="fa fa-tasks fa-3x signal-nothing"></i></p>
                    <p>O task </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>

