



<div class="container">

  <h2 class='text-center'>
    <strong>Flat name:</strong>
    <%= @flat.flat_name %>
  </h2>

  <br>
  <br>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">

        <p>
          <strong>Type:</strong>
          <%= @flat.flat_type %>
        </p>

        <p>
          <strong>Floor:</strong>
          <%= @flat.floor %>
        </p>

        <p>
          <strong>Flat number:</strong>
          <%= @flat.flat_number %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @flat.address %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @flat.city %>
        </p>

        <p>
          <strong>Syndicate:</strong>
          <%= @flat.syndicate %>
        </p>

        <p>
          <strong>Postal code:</strong>
          <%= @flat.postal_code %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @flat.description %>
        </p>

        <p>
          <strong>Country:</strong>
          <%= @flat.country %>
        </p>

        <p>
          <strong>Loan cost:</strong>
          <%= @flat.loan_cost %>
        </p>

        <p>
          <strong>Tax cost:</strong>
          <%= @flat.tax_cost %>
        </p>

        <%= link_to 'Edit', edit_flat_path(@flat), class: 'btn btn-default' %>
        <%= link_to 'Delete', flat_destroy_path(@flat), class: 'btn btn-danger', method: :delete %>
        <%= link_to 'Back', flats_path, class: 'btn btn-default' %>

      </div>


      <div class="col-md-6">
          <h3><strong>Current tenant:</strong>
            <%= @flat.contracts.last.renter.first_name %>
            <%= @flat.contracts.last.renter.last_name %>
          </h3>
          <%= link_to 'Details', flat_renter_path(@flat.id,@flat.contracts.last.renter_id), class: 'btn btn-default' %>
          <p></p>
         <%= link_to new_flat_contract_path(@flat) do %>
         <button type="button" class="btn btn-block btn-primary">
          Add a new contract agreement
        </button>
        <% end %>
        
        <h3>Renting contract history</h3>

        <table class="table">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Tenant Name
              </th>
              <th>
                Contract starts
              </th>
              <th>
                Contract ends
              </th>
              <th>
                Status
              </th>
              <th>

              </th>
            </tr>
          </thead>

          <tbody>
            <% @flat.contracts.each do |contract| %>
            <tr>
              <td>
                <%= contract.id %>
              </td>
              <td>
              <%= link_to flat_renter_path(@flat.id,contract.renter_id) do %>
                <%= contract.renter.first_name %>
                <%= contract.renter.last_name %>
                <% end %>
              </td>
              <td>
                <%= contract.rent_start %>
              </td>
              <td>
                <%= contract.rent_end %>
              </td>
              <td>
                <%= contract.active == "Active" ? "Active" : "Inactive" %>
              </td>
              <td>
                <%= link_to "view", flat_contract_path(contract.flat_id, contract.id)  %>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

