<div class="container">

  <h2 class='text-center'>
    <strong>Flat name:</strong>
    <%= @flat.flat_name %>
  </h2>

  <br>
  <br>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">

        <p>
          <strong>Type:</strong>
          <%= @flat.flat_type %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @flat.description %>
        </p>

        <p>
          <strong>Floor:</strong>
          <%= @flat.floor %>
        </p>

        <p>
          <strong>Flat number:</strong>
          <%= @flat.flat_number %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @flat.address %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @flat.city %>
        </p>

        <p>
          <strong>Postal code:</strong>
          <%= @flat.postal_code %>
        </p>
        <p>
          <strong>Country:</strong>
          <%= @flat.country %>
        </p>

        <p>
          <strong>Syndicate:</strong>
          <%= @flat.syndicate %>
        </p>

        <p>
          <strong>Loan cost:</strong>
          <%= @flat.loan_cost %>
        </p>

        <p>
          <strong>Tax cost:</strong>
          <%= @flat.tax_cost %>
        </p>

        <%= link_to 'Edit', edit_flat_path(@flat), class: 'btn btn-default' %>
        <%= link_to 'Delete', flat_destroy_path(@flat), class: 'btn btn-danger', method: :delete %>
        <%= link_to 'Back', flats_path, class: 'btn btn-default' %>

      </div>


      <div class="col-md-6">
      <%if @flat.contracts.last.nil? %>
      <%else %>
        <p><strong>Current tenant:</strong>
          <%= @flat.contracts.last.renter.first_name %>
          <%= @flat.contracts.last.renter.last_name %> <%= link_to 'Details', flat_renter_path(@flat.id,@flat.contracts.last.renter_id), class: 'btn btn-default' %>
        </p>
        <%end%>
        <br>


        <%= link_to new_flat_contract_path(@flat) do %>
        <button type="button" class="btn btn-block btn-primary">
          Add a new contract agreement
        </button>
        <% end %>


        <% if @flat.contracts.unscoped.select { |contract| contract.active == "Unassigned" && @flat.id == contract.flat_id }.length > 0 %>
        <h3>Unassigned pending contracts: </h3>

        <table class="table">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Rent
              </th>

              <th>
                Contract starts
              </th>

              <th>
                Status
              </th>
              <th>

              </th>
               <th>

              </th>
            </tr>
          </thead>

          <tbody>

            <% @flat.contracts.unscoped.each do |contract| %>
            <% if contract.active == 'Unassigned' && contract.flat_id == @flat.id %>
            <tr>
              <td>
                <%= contract.id %>
              </td>
              <td>
                <%= contract.rent_amount.round %>
              </td>
              <td>
                <%= contract.rent_start %>
              </td>
              <td>
                <%= contract.active  %>
              </td>
              <td>
                <%= link_to "Assign", flat_contract_assign_renter_path(@flat, contract.id), class: 'btn btn-default' %>
              </td>
              <td>
                <%= link_to "Delete", flat_contract_path(@flat.id, contract.id), class: 'btn btn-danger', method: :delete  %>
              </td>
            </tr>
            <% end %>
            <%end%>
            <%end%>
          </tbody>
        </table>





        <h3>Renting contract history</h3>

        <table class="table">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Renter Name
              </th>
              <th>
                Contract starts
              </th>
              <th>
                Contract ends
              </th>
              <th>
                Status
              </th>
              <th>

              </th>
            </tr>
          </thead>

          <tbody>
            <% @flat.contracts.order(:rent_start).each do |contract| %>
            <tr>
              <td>
                <%= contract.id %>
              </td>
              <td>
                <%= contract.renter.first_name %>
                <%= contract.renter.last_name %>
              </td>
              <td>
                <%= contract.rent_start %>
              </td>
              <td>
                <%= contract.rent_end %>
              </td>
              <td>
                <%= contract.active %>
              </td>
              <td>
                <%= link_to "view", flat_contract_path(contract.flat_id, contract.id)  %>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
