<h1>Financial review</h1>


<% start_month_array = [] %>
<% end_month_array = [] %>
<% open_cleared_costs = @costs.select{ |c| c.cleared == false} %>
<% open_cleared_costs.each do |cost| %>
<% start_month_array  << cost.start_month_year %>
<% end_month_array << cost.end_month_year %>
<% end %>

<% start_month = start_month_array.min %>
<% end_month = end_month_array.max %>


  <div class = "finance_container">
  <i class="mdi mdi-account md-36 md-dark"></i>
    <h4 class = "renter_name"><%= @contract.renter.first_name %>
    <%= @contract.renter.last_name %></h4>
      <div class='finance-rows'>
        <div class = "finance_row">
          <div class="finance-key">
                <strong>Period from </strong>
          </div>
          <div class = "finance_value">
               <strong><%= Date::MONTHNAMES[start_month.month]%> <%= start_month.year %> to <%= Date::MONTHNAMES[end_month.month] %> <%= end_month.year %></strong>
          </div>
        </div>
        <div class = "finance_row">
          <div class="finance-key">
                 Number of months:
          </div>
          <div class = "finance_value">
                <%= @periods %>
          </div>
        </div>
        <div class = "finance_row">
          <div class="finance-key">
                 Renter private charges:
          </div>
          <div class = "finance_value">
                <%= @renter_private_sum %>
          </div>
        </div>
        <div class = "finance_row">
          <div class="finance-key">
                 Electricity:
          </div>
          <div class = "finance_value">
                <%= @electricity_sum %>
          </div>
        </div>
        <div class = "finance_row">
          <div class="finance-key">
                 Property management cost:
          </div>
          <div class = "finance_value">
                <%= @property_mngt_sum %>
          </div>
        </div>
        <div class = "finance_row">
          <div class="finance-key">
                 Cleaning & maintenance cost:
          </div>
          <div class = "finance_value">
                <%= @cleaning_sum %>
          </div>
        </div>
        <div class = "finance_row">
          <div class="finance-key">
                 Elevator:
          </div>
          <div class = "finance_value">
                <%= @elevator_sum %>
          </div>
        </div>
         <div class = "finance_row">
          <div class="finance-key">
                 Water:
          </div>
          <div class = "finance_value">
                <%= @water_sum %>
          </div>
        </div>
         <div class = "finance_row">
          <div class="finance-key">
                 Heating:
          </div>
          <div class = "finance_value">
                <%= @heating_sum %>
          </div>
        </div>
          <div class = "finance_row">
          <div class="finance-key">
                 <strong>Total costs:</strong>
          </div>
          <div class = "finance_value">
                <strong><%= @renter_cost_total %></strong>
          </div>
        </div>
      </div>
  </div>
  </br>

  <div class = "finance_container">
   <div class='finance-rows'>
      <div class = "finance_row">
        <div class="finance-key">
          <strong>Total provision for the period:</strong>
        </div>
        <div class = "finance_value">
          <% provisions = @contract.provision * @periods %>
          <strong><%= provisions %></strong>
        </div>
      </div>
    </div>
  </div>
  </br>

   <div class = "finance_container">
   <div class='finance-rows'>
   <% net_balance = @renter_cost_total - provisions %>
      <div class = "finance_row">
        <div class="finance-key">
          <% if net_balance > 0 %>
           <p><strong> Your tenant owes you</strong></p>
            <% else %>
            <p><strong> You owe the tenant </strong></p>
          <% end %>
        </div>
        <div class = "finance_value">
         <strong><%= net_balance.abs %></strong>
        </div>
      </div>
      <div class = "finance_row">
        <div class="finance-key">
          <%= link_to 'Back', contract_costs_path, class: 'btn btn-default' %>
        </div>
        <div class = "finance_value">
        
        </div>
      </div>
    </div>
  </div>


