
<!-- add navbar + link -->

<div class="banner">
    <div class="home-title">
      La gestion locative autrement
    </div>

    <div class="home-button">
      <a class="submit-btn">Start saving time</a>
    </div>
</div>


<div class="about-box">
  <p style="margin-top:50px"></p>
    <span class="home-subtitle">Welcome to Happy Home Management</span>
  <p style="margin-top:20px"></p>

    <span class="home-subtitle"><br>About</span><br><br>
    <span class="about-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis qui numquam eaque, ullam facilis excepturi esse at, explicabo adipisci, tempore doloribus atque dolore impedit deserunt corporis consectetur dolor, iste quod iure fuga ab similique laborum. Voluptate sit nulla neque. Beatae quo possimus quisquam magnam modi alias voluptates sed obcaecati! Dolor?</span>
  <p style="margin-top:50px"></p>

</div>


<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-4">
        <span class="home-small-title">Ease life</span><br><br>
        <%= image_tag "ease_life.jpg" %><br><br>
        <div class="about-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <span class="home-small-title">Why use ?</span><br><br>
        <%= image_tag "our_mission.jpg" %><br><br>
        <div class="about-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <span class="home-small-title">Our mission</span><br><br>
        <%= image_tag "why_use.jpg" %><br><br>
        <div class="about-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
    </div>

    <br><br>

  </div>

  <p style="margin-top:50px"></p>


  <div class="container">
    <a class="submit-btn">Start your journey</a>
  </div>

</div>

  <p style="margin-top:50px"></p>

<div class="about-box">

  <span class="home-subtitle"><br>Product</span><br><br>
  <span class="about-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis qui numquam eaque, ullam facilis excepturi esse at, explicabo adipisci, tempore doloribus atque dolore impedit deserunt corporis consectetur dolor, iste quod iure fuga ab similique laborum. Voluptate sit nulla neque. Beatae quo possimus quisquam magnam modi alias voluptates sed obcaecati! Dolor?</span><br><br><br>

</div>


<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-4">
        <span class="home-small-title">Problems follow up</span><br><br>
        <%= image_tag "icon-problem.png" %><br><br>
        <div class="product-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <span class="home-small-title">Integrated payments</span><br><br>
        <%= image_tag "icon-payment.png" %><br><br>
        <div class="product-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <span class="home-small-title">Reminders</span><br><br>
        <%= image_tag "icon-reminder.png" %><br><br>
        <div class="product-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </div>

  </div>

  <p style="margin-top:40px"></p>

  <div class="row">

    <div class="col-xs-12 col-sm-4">
        <span class="home-small-title">Integrated messages</span><br><br>
        <%= image_tag "icon-message.png" %><br><br>
        <div class="product-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <span class="home-small-title">Store on the cloud</span><br><br>
        <%= image_tag "icon-store.png" %><br><br>
        <div class="product-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <span class="home-small-title">Property management</span><br><br>
        <%= image_tag "icon-management.png" %><br><br>
        <div class="product-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </div>

  </div>

  <p style="margin-top:50px"></p>


  <div class="container">
    <a class="submit-btn">Start saving time</a>
  </div>

  <p style="margin-top:50px"></p>


</div>







