<div class="home-container">


  <div class="banner home-banner">
      <h1>Happy Home Management</h1>

      <div class="home-button">
      </div>
  </div>

  <div class="center-item"><h2>Manage rentals peacefully</h2></div>

    <hr>

  <div class="home-main-box">
    <h2>About</h2>
    <div class="home-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis qui numquam eaque, ullam facilis excepturi esse at, explicabo adipisci, tempore doloribus atque dolore impedit deserunt corporis consectetur dolor, iste quod iure fuga ab similique laborum. Voluptate sit nulla neque. Beatae quo possimus quisquam magnam modi alias voluptates sed obcaecati! Dolor?</div>
  </div>

  <div class="home-items">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <h3>Ease life</h3>
          <%= image_tag "home_ease_life.jpg" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Why use ?</h3>
          <%= image_tag "home_our_mission.jpg" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Our mission</h3>
          <%= image_tag "home_why_use.jpg" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>
    </div>

    <div class="center-item">
      <a class="submit-btn">Start your journey</a>
    </div>

  </div>


  <hr>



  <div class="home-main-box">
    <h2>Product</h2>
    <div class="home-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis qui numquam eaque, ullam facilis excepturi esse at, explicabo adipisci, tempore doloribus atque dolore impedit deserunt corporis consectetur dolor, iste quod iure fuga ab similique laborum. Voluptate sit nulla neque. Beatae quo possimus quisquam magnam modi alias voluptates sed obcaecati! Dolor?</div>
  </div>

  <div class="home-items">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <h3>Problems follow up</h3>
          <%= image_tag "icon-problem.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Integrated payments</h3>
          <%= image_tag "icon-payment.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Reminders</h3>
          <%= image_tag "icon-reminder.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <h3>Integrated messages</h3>
          <%= image_tag "icon-message.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Store on the cloud</h3>
          <%= image_tag "icon-store.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Property management</h3>
          <%= image_tag "icon-management.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>
    </div>

    <div class="center-item">
      <a class="submit-btn">Start saving time</a>
    </div>

  </div>


  <hr>


  <div class="home-main-box">
    <h2 class="center-item">Pricing</h2>
    <div class="home-description">You can use Happy Home Management for free. Anyway if you want to manage more than 2 real estate propreties, you have to sign up for a professionnal subscription</div>
  </div>

  <div class="home-items">

    <table border="3" bordercolor="#17317c">

      <tbody>

        <tr>
          <td class="center-item" bgcolor="#17307c">
            <span class="table-title-blue color-white">Free</span><br><br>
            <span class=color-white>0 €</span><br>
            <span class="bold-text color-white">each month</span><br><br>
          </td>

          <td class="center-item" bgcolor="#C0C0C0">
            <span class="table-title-platinium">Silver</span><br><br>
            3 € <sup>excl.VAT</sup><br>
            <span class="bold-text">each month</span><br><br>
          </td>

          <td class="center-item" bgcolor="#ffcc66">
            <span class="table-title-gold">Gold</span><br><br>
            6 € <sup>excl.VAT</sup><br>
            <span class="bold-text">each month</span><br><br>
          </td>

        </tr>

        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, possimus, quod. Cumque aliquid, debitis rem at quidem et temporibus voluptatum deserunt sint laborum in. Culpa?<br><br>
          <%= image_tag "house-mini-blue.png" %><br><br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam aperiam, voluptatem sequi voluptas suscipit libero, velit consequuntur eaque obcaecati hic doloribus nobis similique. Tenetur commodi recusandae animi dolorum doloremque blanditiis, eligendi voluptate veniam numquam.</td>

          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quis, officia voluptatibus magni unde natus fugit error, nihil perferendis debitis tenetur aspernatur nostrum perspiciatis rerum!<br><br>
          <%= image_tag "house-mini-silver.png" %><br><br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nobis laudantium minus ipsa quidem cum eos quas mollitia sapiente! Similique praesentium beatae molestias, impedit quasi recusandae libero. Atque nemo eius aliquam fugit, nesciunt officia quam debitis.</td>

          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate soluta expedita illum, aut impedit tempora qui similique omnis nostrum a aliquid fuga necessitatibus repellat obcaecati.<br><br>
          <%= image_tag "house-mini-gold.png" %><br><br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas alias officiis esse corporis est minus repudiandae, saepe quos dolor dicta, voluptate porro, delectus ipsa mollitia cupiditate, repellendus blanditiis adipisci aperiam quaerat.</td>
        </tr>
      </tbody>
    </table>
  <br><br><br>


  </div>

  <div class="center-item">
    <a class="submit-btn">Start saving time</a>
  </div>


  <hr>



  <div class="home-main-box">
    <h2 class="center-item">Contact us</h2>

    <div class="home-description center-item">
      If you have any question feel free to contact us. <br>
      Our team will gladly answer any of your questions.
    </div>
  </div>

    <div class="home-items">
    </div>

    <div class="center-item">
      <a class="submit-btn">Send your question</a>
    </div>


  <hr>


</div>
