<div class="home-container">


  <div class="banner home-banner">
      <h1>La gestion locative autrement</h1>

      <div class="home-button">
        <a class="submit-btn">Start saving time</a>
      </div>
  </div>




  <div class="center-item"><h2>Welcome to Happy Home Management</h2></div>

    <hr>

  <div class="home-main-box">
    <h2>About</h2>
    <div class="home-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis qui numquam eaque, ullam facilis excepturi esse at, explicabo adipisci, tempore doloribus atque dolore impedit deserunt corporis consectetur dolor, iste quod iure fuga ab similique laborum. Voluptate sit nulla neque. Beatae quo possimus quisquam magnam modi alias voluptates sed obcaecati! Dolor?</div>
  </div>

  <div class="home-items">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <div class="home-small-title">Ease life</div>
          <%= image_tag "home_ease_life.jpg" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <div class="home-small-title">Why use ?</div>
          <%= image_tag "home_our_mission.jpg" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <div class="home-small-title">Our mission</div>
          <%= image_tag "home_why_use.jpg" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>
    </div>

    <div class="center-item">
      <a class="submit-btn">Start your journey</a>
    </div>

  </div>


  <hr>



  <div class="home-main-box">
    <h2>Product</h2>
    <div class="home-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis qui numquam eaque, ullam facilis excepturi esse at, explicabo adipisci, tempore doloribus atque dolore impedit deserunt corporis consectetur dolor, iste quod iure fuga ab similique laborum. Voluptate sit nulla neque. Beatae quo possimus quisquam magnam modi alias voluptates sed obcaecati! Dolor?</div>
  </div>

  <div class="home-items">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <div class="home-small-title">Problems follow up</div>
          <%= image_tag "icon-problem.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <div class="home-small-title">Integrated payments</div>
          <%= image_tag "icon-payment.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <div class="home-small-title">Reminders</div>
          <%= image_tag "icon-reminder.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <div class="home-small-title">Integrated messages</div>
          <%= image_tag "icon-message.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <div class="home-small-title">Store on the cloud</div>
          <%= image_tag "icon-store.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <div class="home-small-title">Property management</div>
          <%= image_tag "icon-management.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>
    </div>

    <div class="center-item">
      <a class="submit-btn">Start saving time</a>
    </div>

  </div>


  <hr>


  <div class="home-main-box">
    <h2 class="center-item">Pricing</h2>
    <div class="home-description">You can use Happy Home Management for free. Anyway if you want to manage more than 2 real estate propreties, you have to sign up for a professionnal subscription </div>
  </div>

  <div class="home-items">
    <br><br><br>Gold   Free   Platinium<br><br><br>
  </div>

  <div class="center-item">
    <a class="submit-btn">Start saving time</a>
  </div>


  <hr>



  <div class="home-main-box">
    <h2 class="center-item">Contact us</h2>

    <div class="home-description center-item">
      If you have any question feel free to contact us. <br>
      Our team will gladly answer any of your questions.
    </div>
  </div>

    <div class="home-items">
      <br><br><br>formulaire<br><br><br>
    </div>

    <div class="center-item">
      <a class="submit-btn">Send your question</a>
    </div>


  <hr>


</div>
