<div class="home-container">


  <div class="banner home-banner">
      <h1>Happy Home Management</h1>

      <div class="home-button">
      </div>
  </div>

  <div class="center-item"><h2>Manage rentals peacefully</h2></div>

    <hr>

<!-- about -->

  <div class="home-main-box" id="about-anchor">

    <h2>About</h2>
    <div class="home-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis qui numquam eaque, ullam facilis excepturi esse at, explicabo adipisci, tempore doloribus atque dolore impedit deserunt corporis consectetur dolor, iste quod iure fuga ab similique laborum. Voluptate sit nulla neque. Beatae quo possimus quisquam magnam modi alias voluptates sed obcaecati! Dolor?</div>
  </div>

  <div class="home-items">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <h3>Ease life</h3>
          <%= image_tag "home_ease_life.jpg" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Why use ?</h3>
          <%= image_tag "home_our_mission.jpg" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Our mission</h3>
          <%= image_tag "home_why_use.jpg" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>
    </div>

    <div class="center-item">
      <a class="submit-btn" data-toggle="modal" data-target=".bs-example-modal-lg">Start your journey</a>
    </div>

  </div>


  <hr>

<!-- product -->

  <div class="home-main-box" id="product-anchor">
    <h2>Product</h2>
    <div class="home-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis qui numquam eaque, ullam facilis excepturi esse at, explicabo adipisci, tempore doloribus atque dolore impedit deserunt corporis consectetur dolor, iste quod iure fuga ab similique laborum. Voluptate sit nulla neque. Beatae quo possimus quisquam magnam modi alias voluptates sed obcaecati! Dolor?</div>
  </div>

  <div class="home-items">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <h3>Problems follow up</h3>
          <%= image_tag "icon-problem.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Integrated payments</h3>
          <%= image_tag "icon-payment.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Reminders</h3>
          <%= image_tag "icon-reminder.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <h3>Integrated messages</h3>
          <%= image_tag "icon-message.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Store on the cloud</h3>
          <%= image_tag "icon-store.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>

      <div class="col-xs-12 col-sm-4">
          <h3>Property management</h3>
          <%= image_tag "icon-management.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
      </div>
    </div>

    <div class="center-item">
      <a class="submit-btn" data-toggle="modal" data-target=".bs-example-modal-lg">Start saving time</a>
    </div>

  </div>


  <hr>

<!-- set up -->

<div class="home-main-box" id="setup-anchor">
  <h2>How it works</h2>

    <div class="home-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis qui numquam eaque, ullam facilis excepturi esse at.</div>
    </div>

  <div class="home-items">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <h3>New flat to rent</h3>
          <%= image_tag "icon-new-flat.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <h3>New renter</h3>
          <%= image_tag "icon-renter.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <h3>New rental</h3>
          <%= image_tag "icon-rental.png" %><br><br>
          <div class="home-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laudantium nostrum, non ducimus asperiores dolor? Inventore amet eligendi, temporibus tempora.</div>
      </div>
    </div>

    <div class="center-item">
      <a class="submit-btn" data-toggle="modal" data-target=".bs-example-modal-lg">Start your journey</a>
    </div>

  </div>


  <hr>

<!-- pricing -->

<div class="home-main-box" id="pricing-anchor">
  <h2>Pricing</h2>

  <div class="pricing">

    <div class="pricing-container">
      <div class="pricing-item">
        <div class="pricing-item-header-silver">
          <span class="pricing-header-title">Silver</span><br><br>
          <span class="pricing-header-price">3 € <sup>excl.VAT</sup></span><br>
          <span class="pricing-header-title-small">each month</span><br><br>
        </div>

        <div class="pricing-item-body">
          <div class="pricing-item-body-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, possimus, quod. Cumque aliquid, debitis rem at quidem et temporibus voluptatum deserunt sint laborum in. Culpa?
          </div>
          <div class="pricing-item-body-image">
            <%= image_tag "house-mini-silver.png" %>
          </div>
          <div class="pricing-item-body-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nobis laudantium minus ipsa quidem cum eos quas mollitia sapiente! Similique praesentium beatae molestias, impedit quasi recusandae libero. Atque nemo eius aliquam fugit, nesciunt officia quam debitis.
          </div>
        </div>
      </div>
    </div>

    <div class="pricing-container">
      <div class="pricing-item">
        <div class="pricing-item-header-blue">
          <span class="pricing-header-title color-white">Free</span><br><br>
          <span class="pricing-header-price color-white">0 €</span><br>
          <span class="pricing-header-title-small color-white">each month</span><br><br>
        </div>

        <div class="pricing-item-body">
          <div class="pricing-item-body-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quis, officia voluptatibus magni unde natus fugit error, nihil perferendis debitis tenetur aspernatur nostrum perspiciatis rerum!
          </div>
          <div class="pricing-item-body-image">
            <%= image_tag "house-mini-blue.png" %>
          </div>
          <div class="pricing-item-body-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam aperiam, voluptatem sequi voluptas suscipit libero, velit consequuntur eaque obcaecati hic doloribus nobis similique. Tenetur commodi recusandae animi dolorum doloremque blanditiis, eligendi voluptate veniam numquam.
          </div>
        </div>
      </div>
    </div>

    <div class="pricing-container">
      <div class="pricing-item">
        <div class="pricing-item-header-gold">
          <span class="pricing-header-title">Gold</span><br><br>
          <span class="pricing-header-price">6 € <sup>excl.VAT</sup></span><br>
          <span class="pricing-header-title-small">each month</span><br><br>
        </div>

        <div class="pricing-item-body">
          <div class="pricing-item-body-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate soluta expedita illum, aut impedit tempora qui similique omnis nostrum a aliquid fuga necessitatibus repellat obcaecati.<
          </div>
          <div class="pricing-item-body-image">
            <%= image_tag "house-mini-gold.png" %>
          </div>
          <div class="pricing-item-body-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas alias officiis esse corporis est minus repudiandae, saepe quos dolor dicta, voluptate porro, delectus ipsa mollitia cupiditate, repellendus blanditiis adipisci aperiam quaerat.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="center-item">
    <a class="submit-btn" data-toggle="modal" data-target=".bs-example-modal-lg">Start saving time</a>
  </div>
</div>

  <hr>

<!-- contact us -->

  <div class="home-main-box" id="contact-anchor">
    <h2 class="center-item">Contact us</h2>

    <div class="home-description center-item">
      If you have any question feel free to contact us. <br>
      Our team will gladly answer any of your questions.
    </div>
  </div>

    <div class="home-items">
    </div>

    <div class="center-item">
      <a class="submit-btn">Send your question</a>
    </div>


  <hr>


</div>
