<%= simple_form_for [@flat, @document] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "ex. Invoice - Boiler maintenance 2016" %>
    <%= f.input :doc_type, collection: ["PEB", "Bail", "Garantie locative", "Compteur électrictié", "Compteur eau", "Compteur gaz", "Entretien"], selected: "PEB" %>
    <div id=form-expiration-date>
    <% expiration = "Yes" %>
      <ul>
        <li><%= f.input :expiration_date %></li>
        <li><%= f.input :expiration, collection: ["Yes", "No"], selected: "Yes" %></li>
      </ul>
    </div>



    <%= f.input :days_to_reminder, :collection => [["Yes", 10] ,["No", nil ]], :label_method => :first, :value_method => :last, :as => :radio_buttons, :label => "Should we remind you 10 days before?", :item_wrapper_class => 'inline', selected: "Yes" %>
    <%= f.input :attachment %>
    <%= f.input :attachment_cache, as: :hidden %>
    <%= f.association :contract, as: :hidden %>
    <% if defined? task %>
      <%= f.input :task_id, as: :hidden, :input_html => { value: task.id } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "submit-btn" %>
  </div>
<% end %>


<!-- = user.input :resident,
             :collection => [["In the U.S", true],["Outside the U.S.", false]],
             :label_method => :first,
             :value_method => :last,
             :as => :radio_buttons,
             :label => "Where is your principle residence?",
             :item_wrapper_class => 'inline'
 -->
