<%= simple_form_for [@flat, @document] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "ex. Invoice - Boiler maintenance 2016" %>
    <%= f.input :doc_type, collection: ["PEB", "Rent contract", "Warranty", "Electricity", "Water meter", "Gas meter", "Maintenance"], selected: "PEB" %>
    <div id="form-expiration-date">
      <ul>
        <li><%= f.input :expiration, collection: ["Yes", "No"], selected: "No", id: 'expiration-select', label: "Document has an expiration date?" %></li>
        <li class='expiration-date is-hidden'><%= f.input :expiration_date, label: false %></li>
      </ul>
    </div>
    <%= f.input :days_to_reminder, :collection => [["No", 10] ,["Yes", nil ]], :label_method => :first, :value_method => :last, :as => :radio_buttons, :label => "Should we remind you 10 days before?", :item_wrapper_class => 'inline', selected: "Yes" %>
    <%= f.input :attachment %>
    <%= f.input :attachment_cache, as: :hidden %>
    <%= f.association :contract, as: :hidden %>
    <% if defined? task %>
      <%= f.input :task_id, as: :hidden, :input_html => { value: task.id } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-default" %>
  </div>
<% end %>


<%= content_for(:after_js) do %>
  <script>
    $('#document_expiration').on('change', function(e) {
      if ($(this).val() == 'Yes') {
        $('.expiration-date').removeClass('is-hidden')
      } else {
        $('.expiration-date').addClass('is-hidden')
      }
    })
  </script>
<% end %>
