<div class="container">

  <p>
    <strong>Contract:</strong>
    <%= @document.contract %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @document.doc_type %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= @document.expiration_date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @document.name %>
  </p>

  <p>
    <strong>Reminder sent date:</strong>
    <%= @document.reminder_sent_date %>
  </p>

  <p>
    <strong>Days to reminder:</strong>
    <%= @document.days_to_reminder %>
  </p>



  <%= link_to 'Edit', edit_flat_document_path(@flat, @document) %> |

</div>
